SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
ORDER_EMAIL_WEBHOOK_URL=

# Barion beállítások
BARION_ENV=sandbox
BARION_API_BASE=https://api.test.barion.com
BARION_POS_KEY=
BARION_PAYEE=
BARION_CALLBACK_URL=
BARION_REDIRECT_URL=
