VITE_FIREBASE_API_KEY=AIzaSyCo47TPrcl_mRQRqlVY2zepa0xNQ3d6hDQ
VITE_FIREBASE_AUTH_DOMAIN=lezerwebshop.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lezerwebshop
VITE_FIREBASE_MESSAGING_SENDER_ID=640736451895
VITE_FIREBASE_APP_ID=1:640736451895:web:8956422b90eb35992a0eb2
